*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 1s ease-in-out;
    font-family: Jost;
}
html{
    scroll-behavior: smooth;
}
.contact{
    background: #242424;
    height: 100vh;

    h2{
        color: #FFFF;
        font-size: 50px;
        margin-left: 68px;
        padding-top: 60px;
        text-shadow: 2px 2px black;
    }
}
.details{
    margin-top: 50px;
}
.box1, .box2, .box3, .box4{
    width: 40%;
    height: 15vh;
    background: #3C3C3C;
    margin-left: 68px;

    h4{
        font-size: 34px;
        color: #FFFF;
        padding-left: 184px;
        padding-top: 10px;
    }
    p{
        font-size: 22px;
        color: #FFFF;
        padding-left: 184px;
    }
}
.box2{
    margin-top: 25px;
}
.box3{
    margin-top: 25px;
}
.box4{
    margin-top: 25px;
}
// .form{
//     display: flex;
//     align-items: center;
//     justify-content: center;

//     form{
//         width: 100%;
//         padding: 0 30px;
//         textarea{
//             width: 100%;
//             margin-bottom: 10px;
//             padding: 15px 0;
//             border: none;
//             background-color: #E4E4E4;
//             padding-left: 10px;
//             color: red;
//             border-radius: 20px;
//         }
//     }
// }
// .mine{

//     input{
//         width: 100%;
//         margin-bottom: 10px;
//         padding: 15px 0;
//         border: none;
//         background: #3C3C3C;
//         padding-left: 10px;
//     }
// }