* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 1s ease-in-out;
    font-family: Jost;
}

html {
    scroll-behavior: smooth;
}

.nav {
    display: flex;
    background: #242424;
    height: 8vh;
    justify-content: center;
    align-items: center;
    gap: 230px;
    border-bottom: 2px solid #3C3C3C;
    position: fixed;
    z-index: 10;
    width: 100%;

    ul {
        display: flex;
        gap: 55px;

        li {
            list-style: none;

        }

        a {
            text-decoration: none;
            color: #FFFF;
            text-shadow: 2px 2px black;
        }

        a:hover {
            color: #FF4900;
            opacity: 100%;
        }
    }
}

.logo {
    width: 20%;
    padding-top: 120px;
    padding-left: 80px;

    img {
        width: 80%;
    }
}

.portfolio {
    h2 {
        font-size: 20px;
        font-weight: 400;
        color: #FFFF;
        border: 3px solid#FF4900;
        border-radius: 2px;
        padding: 6px 30px;
    }

    h2:hover {
        background: #FF4900;
        cursor: pointer;
    }

    a {
        text-decoration: none;
        color: #FFFF;
    }
}

#home {
    background: #242424;
    height: 100vh;
}

.cm {
    text-align: center;
    padding-top: 250px;

    h1 {
        color: #FFFF;
        font-size: 55px;
        text-shadow: 3px 3px black;
    }

    h2 {
        color: #FFFF;
        font-size: 45px;
        text-shadow: 3px 3px black;
    }

    h2:hover {
        cursor: pointer;
    }

    button {
        padding: 14px 36px;
        background: #FF4900;
        color: #FFFF;
        border: none;
        border-radius: 2px;
        margin-top: 175px;
        font-size: 26px;
        font-weight: 500;
    }

    a {
        text-decoration: none;
        color: #FFFF;
    }

    button:hover {
        background: #a12f01;
    }
}

.animation {
    h1 {
        color: transparent;
        -webkit-text-stroke: .1px #FFFF;
        background-image: linear-gradient(#FF4900, #FFB822);
        background-repeat: no-repeat;
        -webkit-background-clip: text;
        background-position: -1020px 0;
        animation: animateText 10s linear infinite;
    }

    @keyframes animateText {

        0%,
        95%,
        100% {
            background-position: -1020px 0;
        }

        65%,
        85% {
            background-position: 0 0;
        }
    }
}

.projects {
    background: #242424;
    height: 110vh;

    h2 {
        color: #FFFF;
        font-size: 50px;
        margin-left: 68px;
        padding-top: 50px;
        text-shadow: 2px 2px black;
    }

    .top4 {
        display: flex;
        gap: 30px;
        padding: 0 50px;
        padding-top: 50px;
    }

    .languages,
    .upcart,
    .elearning {
        width: 100%;
        position: relative;

        img {
            width: 100%;
            height: 120%;
            border-radius: 3px;
        }
    }

    .elearning:hover {
        transform: scale(1.1);
    }

    .upcart:hover {
        transform: scale(1.1);
    }

    .languages:hover {
        transform: scale(1.1);
    }

    .text8,
    .text47,
    .text48 {
        bottom: -72px;
        width: 100%;
        height: 0%;
        left: 0;
        right: 0;
        position: absolute;
        background: linear-gradient(rgba(0, 0, 0, 0.1), #FF4900);
        overflow: hidden;
        color: #FFFF;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding: 0 40px;
        transition: height 0.8s;
    }

    .text48,
    .text47,
    .text8,
    h3 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    .text48,
    .text47,
    .text8,
    p {
        font-size: 15px;
        font-weight: 400;
    }
}

.elearning:hover .text8 {
    height: 120%;
}

.languages:hover .text48 {
    height: 120%;
}

.upcart:hover .text47 {
    height: 120%;
}

.btn {
    text-align: center;
    margin-top: 145px;

    button {
        padding: 14px 36px;
        background: #FF4900;
        color: #FFFF;
        border: none;
        border-radius: 2px;
        font-size: 26px;
        font-weight: 500;
    }

    a {
        text-decoration: none;
        color: #FFFF;
    }

    button:hover {
        background: #a12f01;
    }
}


#skills {
    background: #242424;
    height: 120vh;
    text-align: center;

    h2 {
        font-size: 50px;
        color: #ffff;
        text-shadow: 2px 2px black;
    }

    span {
        background-image: linear-gradient(#FF4900, #FFB822);
        background-repeat: no-repeat;
        -webkit-background-clip: text;
        color: transparent;
        -webkit-text-stroke: .0px #FFFF;
    }
}

.container {
    margin-top: 100px;
}

.container1 {
    display: flex;
    justify-content: center;
}

.card1,
.card2,
.card3 {
    width: 28%;
    height: 35vh;
    background: #3C3C3C;
    justify-content: center;
    padding-top: 80px;
    text-align: center;
    border-radius: 2px;
    box-shadow: 2px 2px 2px;
    font-size: 22px;

    h3 {
        color: #FFFF;
        font-weight: 700;
        font-size: 24px;
    }
}

.card1:hover {
    background: #FF4900;
    rotate: 0deg;
    margin-right: 15px;

    img {
        transform: scale(1.1);
    }
}

.card2:hover {
    background: #FF4900;

    img {
        transform: scale(1.1);
    }
}

.card3:hover {
    background: #FF4900;
    rotate: 0deg;
    margin-left: 15px;

    img {
        transform: scale(1.1);
    }
}

.card2 {
    z-index: 3;
}

.card1 {
    rotate: -8deg;
}

.card3 {
    rotate: 8deg;
}

.container2 {
    margin-top: 40px;
    display: flex;
    justify-content: center;

}

.card4,
.card5,
.card6 {
    width: 28%;
    height: 35vh;
    background: #3C3C3C;
    justify-content: center;
    padding-top: 80px;
    text-align: center;
    border-radius: 2px;
    box-shadow: 2px 2px 2px;
    font-size: 22px;

    h3 {
        color: #FFFF;
        font-weight: 700;
    }
}

.card4:hover {
    background: #FF4900;
    rotate: 0deg;
    margin-right: 15px;

    img {
        transform: scale(1.1);
    }
}

.card5:hover {
    background: #FF4900;

    img {
        transform: scale(1.1);
    }
}

.card6:hover {
    background: #FF4900;
    rotate: 0deg;
    margin-left: 15px;

    img {
        transform: scale(1.1);
    }
}

.card4 {
    rotate: 8deg;
}

.card5 {
    z-index: 3;
}

.card6 {
    rotate: -8deg;
}

.img1,
.img2,
.img3,
.img4,
.img5,
.img6 {
    width: 100%;

    img {
        width: 15%;
    }
}

.additional {
    background: #242424;
    height: 110vh;
    text-align: center;

    h2 {
        font-size: 50px;
        color: #ffff;
        text-shadow: 2px 2px black;
    }

    span {
        background-image: linear-gradient(#FF4900, #FFB822);
        background-repeat: no-repeat;
        -webkit-background-clip: text;
        color: transparent;
        -webkit-text-stroke: .0px #FFFF;
    }
}

.wrapper {
    margin-top: 50px;
}

.wrapper1 {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.ps,
.xd {
    width: 28%;
    height: 35vh;
    background: #3C3C3C;
    justify-content: center;
    padding-top: 70px;
    text-align: center;
    border-radius: 2px;
    box-shadow: 2px 2px 2px;
    font-size: 22px;
    box-shadow: 1px 1px 3px #FF4900;

    h3 {
        color: #FFFF;
        font-weight: 700;
        font-size: 24px;
    }
}

.psImage {
    width: 100%;

    img {
        width: 15%;
    }
}

.xd {
    margin-top: 40px;
}

.xdImage {
    width: 100%;

    img {
        width: 15%;
    }
}

.ps:hover {
    transform: scale(1.1);

    img {
        transform: scale(1.1);
    }
}

.xd:hover {
    transform: scale(1.1);

    img {
        transform: scale(1.1);
    }
}

.wrapper2 {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
}

.git,
.css3 {
    width: 28%;
    height: 35vh;
    background: #3C3C3C;
    justify-content: center;
    padding-top: 70px;
    text-align: center;
    border-radius: 2px;
    box-shadow: 2px 2px 2px;
    font-size: 22px;
    box-shadow: 2px 2px 3px #FF4900;

    h3 {
        color: #FFFF;
        font-weight: 700;
        font-size: 24px;
    }
}

.cssImage {
    width: 100%;

    img {
        width: 15%;
    }
}

.gitImage {
    width: 100%;

    img {
        width: 15%;
    }
}

.git {
    margin-top: 40px;
}

.git:hover {
    transform: scale(1.1);

    img {
        transform: scale(1.1);
    }
}

.css3:hover {
    transform: scale(1.1);

    img {
        transform: scale(1.1);
    }
}

#about {
    background: #242424;
    height: 100vh;

    h2 {
        font-size: 50px;
        color: #ffff;
        margin-left: 68px;
        text-shadow: 2px 2px black;
    }
}

.textBox {
    position: relative;

    p {
        color: #FFFF;
        padding: 60px 60px;
        justify-content: center;
        margin-top: 40px;
        margin-left: 50px;
        margin-right: 50px;
        font-size: 26px;
        border: 2px solid#FF4900;
        border-radius: 2px;
    }

    span {
        background-image: linear-gradient(#FF4900, #FFB822);
        background-repeat: no-repeat;
        -webkit-background-clip: text;
        color: transparent;
        -webkit-text-stroke: .0px #FFFF;
    }
}

.design {
    display: flex;
    justify-content: center;
    gap: 870px;
    padding-top: 40px;
}

.collin {
    h1 {
        font-size: 36px;
        text-shadow: 2px 2px black;
        background-image: linear-gradient(#FF4900, #FFB822);
        background-repeat: no-repeat;
        -webkit-background-clip: text;
        color: transparent;
        -webkit-text-stroke: .0px #FFFF;
    }

    h3 {
        font-size: 29px;
        color: #FFFF;
        text-shadow: 2px 2px black;
        line-height: 45px;
    }
}

.buttons {
    .hire {
        button {
            font-size: 24.5px;
        }

        a {
            text-decoration: none;
            color: #FFFF;
        }

        button:hover {
            background: #FF4900;
        }
    }

    .resume {
        margin-top: 10px;
    }

    button {
        padding: 14px 36px;
        background: none;
        color: #FFFF;
        border-radius: 2px;
        border-color: #FF4900;
        border-width: 3px;
        font-size: 26px;
        font-weight: 500;
    }

    a {
        text-decoration: none;
        color: #FFFF;
    }

    button:hover {
        background: #FF4900;
    }
}

.footer {
    background: #3C3C3C;
    height: 12vh;
}

.picture {
    width: 70%;
    position: relative;
    top: 3px;

    img {
        width: 8%;
    }
}

.foot {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    h3 {
        position: absolute;
        color: #FFFF;
        right: 200px;
        font-size: 20px;
        font-weight: 500;
    }
}

@media(max-width:991px) {
    .nav {
        display: flex;
        background: #242424;
        height: 8vh;
        justify-content: center;
        align-items: center;
        gap: 50px;
        border-bottom: 2px solid #3C3C3C;
        position: fixed;
        z-index: 10;
        width: 100%;

        ul {
            display: flex;
            gap: 45px;

            li {
                list-style: none;

            }

            a {
                text-decoration: none;
                color: #FFFF;
                opacity: 65%;
                text-shadow: 2px 2px black;
            }

            a:hover {
                color: #FFFF;
                opacity: 100%;
            }
        }
    }

    .logo {
        width: 30%;
        padding-top: 120px;
        padding-left: 60px;

        img {
            width: 80%;
        }
    }

    .portfolio {
        h2 {
            font-size: 20px;
            font-weight: 400;
            color: #FFFF;
            border: 3px solid#FF4900;
            border-radius: 2px;
            padding: 6px 30px;
        }

        h2:hover {
            background: #FF4900;
            background-image: linear-gradient(#FF4900, #FFB822);
            cursor: pointer;
            border: 3px solid #FFB822;
        }
    }

    #home {
        background: #242424;
        height: 60vh;
    }

    .cm {
        text-align: center;
        padding-top: 280px;

        h1 {
            color: #FFFF;
            font-size: 55px;
            text-shadow: 3px 3px black;
        }

        h2 {
            color: #FFFF;
            font-size: 45px;
            text-shadow: 3px 3px black;
        }

        h2:hover {
            color: #FFFF;
            cursor: pointer;
        }

        button {
            padding: 14px 36px;
            background: #FF4900;
            color: #FFFF;
            border: none;
            border-radius: 2px;
            margin-top: 150px;
            font-size: 26px;
            font-weight: 500;
        }

        a {
            text-decoration: none;
            color: #FFFF;
        }

        button:hover {
            background: #a12f01;
        }
    }

    .animation {
        h1 {
            color: transparent;
            -webkit-text-stroke: .1px #FFFF;
            background-image: linear-gradient(#FF4900, #FFB822);
            background-repeat: no-repeat;
            -webkit-background-clip: text;
            background-position: -1020px 0;
            animation: animateText 10s linear infinite;
        }

        @keyframes animateText {

            0%,
            95%,
            100% {
                background-position: -1020px 0;
            }

            65%,
            85% {
                background-position: 0 0;
            }
        }
    }

    .projects {
        background: #242424;
        height: 50vh;

        h2 {
            color: #FFFF;
            font-size: 50px;
            margin-left: 68px;
            padding-top: 50px;
            text-shadow: 2px 2px black;
        }

        .top4 {
            display: flex;
            gap: 30px;
            padding: 0 50px;
            padding-top: 50px;
        }

        .languages,
        .upcart,
        .elearning {
            width: 100%;
            position: relative;

            img {
                width: 100%;
                height: 120%;
                border-radius: 3px;
            }
        }

        .elearning:hover {
            transform: scale(1.1);
        }

        .upcart:hover {
            transform: scale(1.1);
        }

        .languages:hover {
            transform: scale(1.1);
        }

        .text8,
        .text47,
        .text48 {
            bottom: -72px;
            width: 100%;
            height: 0%;
            left: 0;
            right: 0;
            position: absolute;
            background: linear-gradient(rgba(0, 0, 0, 0.1), #FF4900);
            overflow: hidden;
            color: #FFFF;
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            padding: 0 40px;
            transition: height 0.8s;
        }

        .text48,
        .text47,
        .text8,
        h3 {
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 10px;
        }

        .text48,
        .text47,
        .text8,
        p {
            font-size: 15px;
            font-weight: 400;
        }
    }

    .elearning:hover .text8 {
        height: 120%;
    }

    .languages:hover .text48 {
        height: 120%;
    }

    .upcart:hover .text47 {
        height: 120%;
    }

    .btn {
        text-align: center;
        margin-top: 145px;

        button {
            padding: 14px 36px;
            background: #FF4900;
            color: #FFFF;
            border: none;
            border-radius: 2px;
            font-size: 26px;
            font-weight: 500;
        }

        a {
            text-decoration: none;
            color: #FFFF;
        }

        button:hover {
            background: #a12f01;
        }
    }


    #skills {
        background: #242424;
        height: 70vh;
        text-align: center;

        h2 {
            padding-top: 30px;
            font-size: 50px;
            color: #ffff;
            text-shadow: 2px 2px black;
        }

        span {
            background-image: linear-gradient(#FF4900, #FFB822);
            background-repeat: no-repeat;
            -webkit-background-clip: text;
            color: transparent;
            -webkit-text-stroke: .0px #FFFF;
        }
    }

    .container {
        margin-top: 100px;
    }

    .container1 {
        display: flex;
        justify-content: center;
    }

    .card1,
    .card2,
    .card3 {
        width: 28%;
        height: 20vh;
        background: #3C3C3C;
        justify-content: center;
        padding-top: 70px;
        text-align: center;
        border-radius: 2px;
        box-shadow: 2px 2px 2px;
        font-size: 22px;

        h3 {
            color: #FFFF;
            font-weight: 700;
            font-size: 24px;
        }
    }

    .card1:hover {
        background: #FF4900;
        rotate: 0deg;
        margin-right: 15px;

        img {
            transform: scale(1.1);
        }
    }

    .card2:hover {
        background: #FF4900;

        img {
            transform: scale(1.1);
        }
    }

    .card3:hover {
        background: #FF4900;
        rotate: 0deg;
        margin-left: 15px;

        img {
            transform: scale(1.1);
        }
    }

    .card2 {
        z-index: 3;
    }

    .card1 {
        rotate: -8deg;
    }

    .card3 {
        rotate: 8deg;
    }

    .container2 {
        margin-top: 40px;
        display: flex;
        justify-content: center;

    }

    .card4,
    .card5,
    .card6 {
        width: 28%;
        height: 20vh;
        background: #3C3C3C;
        justify-content: center;
        padding-top: 70px;
        text-align: center;
        border-radius: 2px;
        box-shadow: 2px 2px 2px;
        font-size: 22px;

        h3 {
            color: #FFFF;
            font-weight: 700;
        }
    }

    .card4:hover {
        background: #FF4900;
        rotate: 0deg;
        margin-right: 15px;

        img {
            transform: scale(1.1);
        }
    }

    .card5:hover {
        background: #FF4900;

        img {
            transform: scale(1.1);
        }
    }

    .card6:hover {
        background: #FF4900;
        rotate: 0deg;
        margin-left: 15px;

        img {
            transform: scale(1.1);
        }
    }

    .card4 {
        rotate: 8deg;
    }

    .card5 {
        z-index: 3;
    }

    .card6 {
        rotate: -8deg;
    }

    .img1,
    .img2,
    .img3,
    .img4,
    .img5,
    .img6 {
        width: 100%;

        img {
            width: 15%;
        }
    }

    .additional {
        background: #242424;
        height: 70vh;
        text-align: center;

        h2 {
            padding-top: 30px;
            font-size: 50px;
            color: #ffff;
            text-shadow: 2px 2px black;
        }

        span {
            background-image: linear-gradient(#FF4900, #FFB822);
            background-repeat: no-repeat;
            -webkit-background-clip: text;
            color: transparent;
            -webkit-text-stroke: .0px #FFFF;
        }
    }

    .wrapper {
        margin-top: 50px;
    }

    .wrapper1 {
        display: flex;
        justify-content: center;
        gap: 30px;
    }

    .ps,
    .xd {
        width: 38%;
        height: 20vh;
        background: #3C3C3C;
        justify-content: center;
        padding-top: 70px;
        text-align: center;
        border-radius: 2px;
        box-shadow: 2px 2px 2px;
        font-size: 22px;
        box-shadow: 1px 1px 3px #FF4900;

        h3 {
            color: #FFFF;
            font-weight: 700;
            font-size: 24px;
        }
    }

    .psImage {
        width: 100%;

        img {
            width: 15%;
        }
    }

    .xd {
        margin-top: 40px;
    }

    .xdImage {
        width: 100%;

        img {
            width: 15%;
        }
    }

    .ps:hover {
        transform: scale(1.1);

        img {
            transform: scale(1.1);
        }
    }

    .xd:hover {
        transform: scale(1.1);

        img {
            transform: scale(1.1);
        }
    }

    .wrapper2 {
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-top: 10px;
    }

    .git,
    .css3 {
        width: 38%;
        height: 20vh;
        background: #3C3C3C;
        justify-content: center;
        padding-top: 70px;
        text-align: center;
        border-radius: 2px;
        box-shadow: 2px 2px 2px;
        font-size: 22px;
        box-shadow: 2px 2px 3px #FF4900;

        h3 {
            color: #FFFF;
            font-weight: 700;
            font-size: 24px;
        }
    }

    .cssImage {
        width: 100%;

        img {
            width: 15%;
        }
    }

    .gitImage {
        width: 100%;

        img {
            width: 15%;
        }
    }

    .git {
        margin-top: 40px;
    }

    .git:hover {
        transform: scale(1.1);

        img {
            transform: scale(1.1);
        }
    }

    .css3:hover {
        transform: scale(1.1);

        img {
            transform: scale(1.1);
        }
    }

    #about {
        background: #242424;
        height: 70vh;

        h2 {
            padding-top: 30px;
            font-size: 50px;
            color: #ffff;
            margin-left: 68px;
            text-shadow: 2px 2px black;
        }
    }

    .textBox {
        position: relative;

        p {
            color: #FFFF;
            padding: 45px 45px;
            justify-content: center;
            margin-top: 40px;
            margin-left: 50px;
            margin-right: 50px;
            font-size: 26px;
            border: 2px solid#FF4900;
            border-radius: 2px;
        }

        span {
            background-image: linear-gradient(#FF4900, #FFB822);
            background-repeat: no-repeat;
            -webkit-background-clip: text;
            color: transparent;
            -webkit-text-stroke: .0px #FFFF;
        }
    }

    .design {
        display: flex;
        justify-content: center;
        gap: 300px;
        padding-top: 40px;
    }

    .collin {
        h1 {
            font-size: 36px;
            text-shadow: 2px 2px black;
            background-image: linear-gradient(#FF4900, #FFB822);
            background-repeat: no-repeat;
            -webkit-background-clip: text;
            color: transparent;
            -webkit-text-stroke: .0px #FFFF;
        }

        h3 {
            font-size: 29px;
            color: #FFFF;
            text-shadow: 2px 2px black;
            line-height: 45px;
        }
    }

    .buttons {
        .hire {
            button {
                font-size: 24.5px;
            }

            a {
                text-decoration: none;
                color: #FFFF;
            }

            button:hover {
                background: #FF4900;
            }
        }

        .resume {
            margin-top: 10px;
        }

        button {
            padding: 14px 36px;
            background: none;
            color: #FFFF;
            border-radius: 2px;
            border-color: #FF4900;
            border-width: 3px;
            font-size: 26px;
            font-weight: 500;
        }

        a {
            text-decoration: none;
            color: #FFFF;
        }

        button:hover {
            background: #FF4900;
        }
    }

    .footer {
        background: #3C3C3C;
        height: 7vh;
    }

    .picture {
        width: 70%;
        position: relative;
        top: 8px;

        img {
            width: 8%;
        }
    }

    .foot {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;

        h3 {
            position: absolute;
            color: #FFFF;
            right: 200px;
            font-size: 20px;
            font-weight: 500;
        }
    }
}

@media(max-width:768px) {
    .nav {
        display: flex;
        background: #242424;
        height: 8vh;
        justify-content: center;
        align-items: center;
        gap: 40px;
        border-bottom: 2px solid #3C3C3C;
        position: fixed;
        z-index: 10;
        width: 100%;

        ul {
            display: flex;
            gap: 55px;

            li {
                list-style: none;

            }

            a {
                text-decoration: none;
                color: #FFFF;
                opacity: 65%;
                text-shadow: 2px 2px black;
            }

            a:hover {
                color: #FFFF;
                opacity: 100%;
            }
        }
    }

    .logo {
        width: 20%;
        padding-top: 120px;
        padding-left: 20px;

        img {
            width: 100%;
        }
    }

    .portfolio {
        h2 {
            font-size: 16px;
            font-weight: 400;
            color: #FFFF;
            border: 3px solid#FF4900;
            border-radius: 2px;
            padding: 6px 30px;
        }

        h2:hover {
            background: #FF4900;
            background-image: linear-gradient(#FF4900, #FFB822);
            cursor: pointer;
            border: 3px solid #FFB822;
        }
    }

    #home {
        background: #242424;
        height: 70vh;
    }

    .cm {
        text-align: center;
        padding-top: 250px;

        h1 {
            color: #FFFF;
            font-size: 55px;
            text-shadow: 3px 3px black;
        }

        h2 {
            color: #FFFF;
            font-size: 45px;
            text-shadow: 3px 3px black;
        }

        h2:hover {
            color: #FFFF;
            cursor: pointer;
        }

        button {
            padding: 14px 36px;
            background: #FF4900;
            color: #FFFF;
            border: none;
            border-radius: 2px;
            margin-top: 175px;
            font-size: 26px;
            font-weight: 500;
        }

        a {
            text-decoration: none;
            color: #FFFF;
        }

        button:hover {
            background: #a12f01;
        }
    }

    .animation {
        h1 {
            color: transparent;
            -webkit-text-stroke: .1px #FFFF;
            background-image: linear-gradient(#FF4900, #FFB822);
            background-repeat: no-repeat;
            -webkit-background-clip: text;
            background-position: -1020px 0;
            animation: animateText 10s linear infinite;
        }

        @keyframes animateText {

            0%,
            95%,
            100% {
                background-position: -1020px 0;
            }

            65%,
            85% {
                background-position: 0 0;
            }
        }
    }

    .projects {
        background: #242424;
        height: 150vh;

        h2 {
            color: #FFFF;
            font-size: 60px;
            text-align: center;
            padding-top: 50px;
            text-shadow: 2px 2px black;
        }

        .top4 {
            display: flex;
            gap: 30px;
            padding: 0 50px;
            padding-top: 50px;
            flex-direction: column;
        }

        .languages,
        .upcart,
        .elearning {
            width: 100%;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 80%;
                height: 120%;
                border-radius: 2px;
            }
        }

        .elearning:hover {
            transform: scale(1.1);
        }

        .upcart:hover {
            transform: scale(1.1);
        }

        .languages:hover {
            transform: scale(1.1);
        }

        .text8,
        .text47,
        .text48 {
            bottom: -72px;
            width: 100%;
            height: 0%;
            left: 0;
            right: 0;
            position: absolute;
            background: linear-gradient(rgba(0, 0, 0, 0.1), #FF4900);
            overflow: hidden;
            color: #FFFF;
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            padding: 0 40px;
            transition: height 0.8s;
        }

        .text48,
        .text47,
        .text8,
        h3 {
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 10px;
        }

        .text48,
        .text47,
        .text8,
        p {
            font-size: 15px;
            font-weight: 400;
        }
    }

    .elearning:hover .text8 {
        height: 120%;
    }

    .languages:hover .text48 {
        height: 120%;
    }

    .upcart:hover .text47 {
        height: 120%;
    }

    .btn {
        text-align: center;
        margin-top: 80px;

        button {
            padding: 14px 36px;
            background: #FF4900;
            color: #FFFF;
            border: none;
            border-radius: 2px;
            font-size: 26px;
            font-weight: 500;
        }

        a {
            text-decoration: none;
            color: #FFFF;
        }

        button:hover {
            background: #a12f01;
        }
    }


    #skills {
        background: #242424;
        height: 250vh;
        text-align: center;

        h2 {
            font-size: 60px;
            color: #ffff;
            text-shadow: 2px 2px black;
        }

        span {
            background-image: linear-gradient(#FF4900, #FFB822);
            background-repeat: no-repeat;
            -webkit-background-clip: text;
            color: transparent;
            -webkit-text-stroke: .0px #FFFF;
        }
    }

    .container {
        margin-top: 80px;
    }

    .container1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .card1,
    .card2,
    .card3 {
        width: 60%;
        height: 35vh;
        background: #3C3C3C;
        justify-content: center;
        padding-top: 140px;
        text-align: center;
        border-radius: 2px;
        box-shadow: 2px 2px 2px;
        font-size: 22px;
        margin: 7px 0;

        h3 {
            color: #FFFF;
            font-weight: 700;
            font-size: 24px;
        }
    }

    .card1:hover {
        background: #FF4900;
        rotate: 0deg;
        margin-right: 15px;

        img {
            transform: scale(1.1);
        }
    }

    .card2:hover {
        background: #FF4900;

        img {
            transform: scale(1.1);
        }
    }

    .card3:hover {
        background: #FF4900;
        rotate: 0deg;
        margin-left: 15px;

        img {
            transform: scale(1.1);
        }
    }

    .card2 {
        z-index: 3;
    }

    .card1 {
        // rotate: -8deg;
        rotate: 0deg;
    }

    .card3 {
        // rotate: 8deg;
        rotate: 0deg;
    }

    .container2 {
        margin-top: 0px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

    }

    .card4,
    .card5,
    .card6 {
        width: 60%;
        height: 35vh;
        background: #3C3C3C;
        justify-content: center;
        padding-top: 140px;
        text-align: center;
        border-radius: 2px;
        box-shadow: 2px 2px 2px;
        font-size: 22px;
        margin: 7px 0;

        h3 {
            color: #FFFF;
            font-weight: 700;
        }
    }

    .card4:hover {
        background: #FF4900;
        rotate: 0deg;
        margin-right: 15px;

        img {
            transform: scale(1.1);
        }
    }

    .card5:hover {
        background: #FF4900;

        img {
            transform: scale(1.1);
        }
    }

    .card6:hover {
        background: #FF4900;
        rotate: 0deg;
        margin-left: 15px;

        img {
            transform: scale(1.1);
        }
    }

    .card4 {
        // rotate: 8deg;
        rotate: 0deg;
    }

    .card5 {
        z-index: 3;
    }

    .card6 {
        // rotate: -8deg;
        rotate: 0deg;
    }

    .img1,
    .img2,
    .img3,
    .img4,
    .img5,
    .img6 {
        width: 100%;

        img {
            width: 15%;
        }
    }

    .additional {
        background: #242424;
        height: 170vh;
        text-align: center;

        h2 {
            font-size: 50px;
            color: #ffff;
            text-shadow: 2px 2px black;
        }

        span {
            background-image: linear-gradient(#FF4900, #FFB822);
            background-repeat: no-repeat;
            -webkit-background-clip: text;
            color: transparent;
            -webkit-text-stroke: .0px #FFFF;
        }
    }

    .wrapper {
        margin-top: 50px;
    }

    .wrapper1 {
        display: flex;
        justify-content: center;
        gap: 12px;
        flex-direction: column;
        align-items: center;
    }

    .ps,
    .xd {
        width: 60%;
        height: 35vh;
        background: #3C3C3C;
        justify-content: center;
        padding-top: 140px;
        text-align: center;
        border-radius: 2px;
        box-shadow: 2px 2px 2px;
        font-size: 22px;
        box-shadow: 1px 1px 3px #FF4900;

        h3 {
            color: #FFFF;
            font-weight: 700;
            font-size: 24px;
        }
    }

    .psImage {
        width: 100%;

        img {
            width: 15%;
        }
    }

    .xd {
        margin-top: 0px;
    }

    .xdImage {
        width: 100%;

        img {
            width: 15%;
        }
    }

    .ps:hover {
        transform: scale(1.1);

        img {
            transform: scale(1.1);
        }
    }

    .xd:hover {
        transform: scale(1.1);

        img {
            transform: scale(1.1);
        }
    }

    .wrapper2 {
        display: flex;
        justify-content: center;
        gap: 12px;
        margin-top: 12px;
        flex-direction: column;
        align-items: center;
    }

    .git,
    .css3 {
        width: 60%;
        height: 35vh;
        background: #3C3C3C;
        justify-content: center;
        padding-top: 140px;
        text-align: center;
        border-radius: 2px;
        box-shadow: 2px 2px 2px;
        font-size: 22px;
        box-shadow: 2px 2px 3px #FF4900;

        h3 {
            color: #FFFF;
            font-weight: 700;
            font-size: 24px;
        }
    }

    .cssImage {
        width: 100%;

        img {
            width: 15%;
        }
    }

    .gitImage {
        width: 100%;

        img {
            width: 15%;
        }
    }

    .git {
        margin-top: 0px;
    }

    .git:hover {
        transform: scale(1.1);

        img {
            transform: scale(1.1);
        }
    }

    .css3:hover {
        transform: scale(1.1);

        img {
            transform: scale(1.1);
        }
    }

    #about {
        background: #242424;
        height: 80vh;

        h2 {
            font-size: 50px;
            color: #ffff;
            margin-left: 68px;
            text-shadow: 2px 2px black;
        }
    }

    .textBox {
        position: relative;

        p {
            color: #FFFF;
            padding: 30px 30px;
            justify-content: center;
            margin-top: 40px;
            margin-left: 50px;
            margin-right: 50px;
            font-size: 26px;
            border: 2px solid#FF4900;
            border-radius: 2px;
        }

        span {
            background-image: linear-gradient(#FF4900, #FFB822);
            background-repeat: no-repeat;
            -webkit-background-clip: text;
            color: transparent;
            -webkit-text-stroke: .0px #FFFF;
        }
    }

    .design {
        display: flex;
        justify-content: center;
        gap: 180px;
        padding-top: 40px;
    }

    .collin {
        h1 {
            font-size: 36px;
            text-shadow: 2px 2px black;
            background-image: linear-gradient(#FF4900, #FFB822);
            background-repeat: no-repeat;
            -webkit-background-clip: text;
            color: transparent;
            -webkit-text-stroke: .0px #FFFF;
        }

        h3 {
            font-size: 29px;
            color: #3C3C3C;
            text-shadow: 2px 2px black;
            line-height: 45px;
        }
    }

    .buttons {
        .hire {
            button {
                font-size: 24.5px;
            }

            a {
                text-decoration: none;
                color: #FFFF;
            }

            button:hover {
                background: #FF4900;
            }
        }

        .resume {
            margin-top: 10px;
        }

        button {
            padding: 14px 36px;
            background: none;
            color: #FFFF;
            border-radius: 2px;
            border-color: #FF4900;
            border-width: 3px;
            font-size: 26px;
            font-weight: 500;
        }

        a {
            text-decoration: none;
            color: #FFFF;
        }

        button:hover {
            background: #FF4900;
        }
    }

    .footer {
        background: #3C3C3C;
        height: 7vh;
    }

    .picture {
        width: 70%;
        position: relative;
        top: 3px;

        img {
            width: 8%;
        }
    }

    .foot {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;

        h3 {
            position: absolute;
            color: #FFFF;
            right: 200px;
            font-size: 20px;
            font-weight: 500;
        }
    }
}

@media(max-width:600px) {
    .nav {
        display: flex;
        background: #242424;
        height: 8vh;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-bottom: 2px solid #3C3C3C;
        position: fixed;
        z-index: 10;
        width: 100%;
        display: none;

        ul {
            display: flex;
            gap: 35px;

            li {
                list-style: none;

            }

            a {
                text-decoration: none;
                color: #FFFF;
                opacity: 65%;
                text-shadow: 2px 2px black;
                font-size: 14px;
            }

            a:hover {
                color: #FFFF;
                opacity: 100%;
            }
        }
    }

    .logo {
        width: 20%;
        padding-top: 120px;
        padding-left: 10px;

        img {
            width: 80%;
        }
    }

    .portfolio {
        h2 {
            font-size: 14px;
            font-weight: 400;
            color: #FFFF;
            border: 3px solid#FF4900;
            border-radius: 2px;
            padding: 6px 20px;
            display: none;
        }

        h2:hover {
            background: #FF4900;
            background-image: linear-gradient(#FF4900, #FFB822);
            cursor: pointer;
            border: 3px solid #FFB822;
        }
    }

    #home {
        background: #242424;
        height: 80vh;
    }

    .cm {
        text-align: center;
        padding-top: 190px;

        h1 {
            color: #FFFF;
            font-size: 55px;
            text-shadow: 3px 3px black;
        }

        h2 {
            color: #FFFF;
            font-size: 35px;
            text-shadow: 3px 3px black;
        }

        h2:hover {
            color: #FFFF;
            cursor: pointer;
        }

        button {
            padding: 12px 32px;
            background: #FF4900;
            color: #FFFF;
            border: none;
            border-radius: 2px;
            margin-top: 150px;
            font-size: 24px;
            font-weight: 500;
        }

        a {
            text-decoration: none;
            color: #FFFF;
        }

        button:hover {
            background: #a12f01;
        }
    }

    .animation {
        h1 {
            color: transparent;
            -webkit-text-stroke: .1px #FFFF;
            background-image: linear-gradient(#FF4900, #FFB822);
            background-repeat: no-repeat;
            -webkit-background-clip: text;
            background-position: -1020px 0;
            animation: animateText 10s linear infinite;
        }

        @keyframes animateText {

            0%,
            95%,
            100% {
                background-position: -1020px 0;
            }

            65%,
            85% {
                background-position: 0 0;
            }
        }
    }

    .projects {
        background: #242424;
        height: 110vh;

        h2 {
            color: #FFFF;
            font-size: 38px;
            margin-left: 68px;
            padding-top: 30px;
            text-shadow: 2px 2px black;
        }

        .top4 {
            display: flex;
            gap: 30px;
            padding: 0 50px;
            padding-top: 50px;
        }

        .languages,
        .upcart,
        .elearning {
            width: 100%;
            position: relative;

            img {
                width: 100%;
                height: 120%;
                border-radius: 3px;
            }
        }

        .elearning:hover {
            transform: scale(1.1);
        }

        .upcart:hover {
            transform: scale(1.1);
        }

        .languages:hover {
            transform: scale(1.1);
        }

        .text8,
        .text47,
        .text48 {
            bottom: -72px;
            width: 100%;
            height: 0%;
            left: 0;
            right: 0;
            position: absolute;
            background: linear-gradient(rgba(0, 0, 0, 0.1), #FF4900);
            overflow: hidden;
            color: #FFFF;
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            padding: 0 40px;
            transition: height 0.8s;
        }

        .text48,
        .text47,
        .text8,
        h3 {
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 10px;
        }

        .text48,
        .text47,
        .text8,
        p {
            font-size: 15px;
            font-weight: 400;
        }
    }

    .elearning:hover .text8 {
        height: 120%;
    }

    .languages:hover .text48 {
        height: 120%;
    }

    .upcart:hover .text47 {
        height: 120%;
    }

    .btn {
        text-align: center;
        margin-top: 55px;

        button {
            padding: 12px 32px;
            background: #FF4900;
            color: #FFFF;
            border: none;
            border-radius: 2px;
            font-size: 24px;
            font-weight: 500;
        }

        a {
            text-decoration: none;
            color: #FFFF;
        }

        button:hover {
            background: #a12f01;
        }
    }


    #skills {
        background: #242424;
        height: 250vh;
        text-align: center;

        h2 {
            font-size: 38px;
            color: #ffff;
            text-shadow: 2px 2px black;
        }

        span {
            background-image: linear-gradient(#FF4900, #FFB822);
            background-repeat: no-repeat;
            -webkit-background-clip: text;
            color: transparent;
            -webkit-text-stroke: .0px #FFFF;
        }
    }

    .container {
        margin-top: 70px;
    }

    .container1 {
        display: flex;
        justify-content: center;
    }

    .card1,
    .card2,
    .card3 {
        width: 60%;
        height: 35vh;
        background: #3C3C3C;
        justify-content: center;
        padding-top: 140px;
        text-align: center;
        border-radius: 2px;
        box-shadow: 2px 2px 2px;
        font-size: 22px;
        margin: 7px 0;

        h3 {
            color: #FFFF;
            font-weight: 700;
            font-size: 24px;
        }
    }

    .card1:hover {
        background: #FF4900;
        rotate: 0deg;
        margin-right: 15px;

        img {
            transform: scale(1.1);
        }
    }

    .card2:hover {
        background: #FF4900;

        img {
            transform: scale(1.1);
        }
    }

    .card3:hover {
        background: #FF4900;
        rotate: 0deg;
        margin-left: 15px;

        img {
            transform: scale(1.1);
        }
    }

    .card2 {
        z-index: 3;
    }

    .card1 {
        // rotate: -8deg;
        rotate: 0deg;
    }

    .card3 {
        // rotate: 8deg;
        rotate: 0deg;
    }

    .container2 {
        display: flex;
        justify-content: center;

    }

    .card4,
    .card5,
    .card6 {
        width: 60%;
        height: 35vh;
        background: #3C3C3C;
        justify-content: center;
        padding-top: 140px;
        text-align: center;
        border-radius: 2px;
        box-shadow: 2px 2px 2px;
        font-size: 22px;
        margin: 7px 0;

        h3 {
            color: #FFFF;
            font-weight: 700;
        }
    }

    .card4:hover {
        background: #FF4900;
        rotate: 0deg;
        margin-right: 15px;

        img {
            transform: scale(1.1);
        }
    }

    .card5:hover {
        background: #FF4900;

        img {
            transform: scale(1.1);
        }
    }

    .card6:hover {
        background: #FF4900;
        rotate: 0deg;
        margin-left: 15px;

        img {
            transform: scale(1.1);
        }
    }

    .card4 {
        // rotate: 8deg;
        rotate: 0deg;
    }

    .card5 {
        z-index: 3;
    }

    .card6 {
        // rotate: -8deg;
        rotate: 0deg;
    }
    .img1,
    .img2,
    .img3,
    .img4,
    .img5,
    .img6 {
        width: 100%;

        img {
            width: 15%;
        }
    }

    .additional {
        background: #242424;
        height: 175vh;
        text-align: center;

        h2 {
            font-size: 38px;
            color: #ffff;
            text-shadow: 2px 2px black;
        }

        span {
            background-image: linear-gradient(#FF4900, #FFB822);
            background-repeat: no-repeat;
            -webkit-background-clip: text;
            color: transparent;
            -webkit-text-stroke: .0px #FFFF;
        }
    }

    .wrapper {
        margin-top: 50px;
    }

    .wrapper1 {
        display: flex;
        justify-content: center;
    }

    .ps,
    .xd {
        width: 60%;
        height: 35vh;
        background: #3C3C3C;
        justify-content: center;
        padding-top: 128px;
        text-align: center;
        border-radius: 20px;
        box-shadow: 2px 2px 2px;
        font-size: 22px;
        box-shadow: 1px 1px 3px #FF4900;

        h3 {
            color: #FFFF;
            font-weight: 700;
            font-size: 24px;
        }
    }

    .psImage {
        width: 100%;

        img {
            width: 15%;
        }
    }

    .xd {
        margin-top: 7px;
    }

    .xdImage {
        width: 100%;

        img {
            width: 15%;
        }
    }

    .ps:hover {
        transform: scale(1.1);

        img {
            transform: scale(1.1);
        }
    }

    .xd:hover {
        transform: scale(1.1);

        img {
            transform: scale(1.1);
        }
    }

    .wrapper2 {
        display: flex;
        justify-content: center;
        margin-top: 18px;
    }

    .git,
    .css3 {
        width: 60%;
        height: 35vh;
        background: #3C3C3C;
        justify-content: center;
        padding-top: 128px;
        text-align: center;
        border-radius: 20px;
        box-shadow: 2px 2px 2px;
        font-size: 22px;
        box-shadow: 2px 2px 3px #FF4900;

        h3 {
            color: #FFFF;
            font-weight: 700;
            font-size: 24px;
        }
    }

    .cssImage {
        width: 100%;

        img {
            width: 15%;
        }
    }

    .gitImage {
        width: 100%;

        img {
            width: 15%;
        }
    }

    .git {
        margin-top: 7px;
    }

    .git:hover {
        transform: scale(1.1);

        img {
            transform: scale(1.1);
        }
    }

    .css3:hover {
        transform: scale(1.1);

        img {
            transform: scale(1.1);
        }
    }

    #about {
        background: #242424;
        height: 135vh;

        h2 {
            font-size: 50px;
            color: #ffff;
            margin-left: 68px;
            text-shadow: 2px 2px black;
        }
    }

    .textBox {
        position: relative;

        p {
            color: #FFFF;
            padding: 20px 20px;
            justify-content: center;
            margin-top: 40px;
            margin-left: 50px;
            margin-right: 50px;
            font-size: 26px;
            border: 2px solid#FF4900;
            border-radius: 20px;
        }

        span {
            background-image: linear-gradient(#FF4900, #FFB822);
            background-repeat: no-repeat;
            -webkit-background-clip: text;
            color: transparent;
            -webkit-text-stroke: .0px #FFFF;
        }
    }

    .design {
        display: flex;
        justify-content: center;
        gap: 50px;
        padding-top: 40px;
    }

    .collin {
        display: none;
        h1 {
            font-size: 36px;
            text-shadow: 2px 2px black;
            background-image: linear-gradient(#FF4900, #FFB822);
            background-repeat: no-repeat;
            -webkit-background-clip: text;
            color: transparent;
            -webkit-text-stroke: .0px #FFFF;
        }

        h3 {
            font-size: 29px;
            color: #3C3C3C;
            text-shadow: 2px 2px black;
            line-height: 45px;
        }
    }

    .buttons {
        .hire {
            button {
                font-size: 24.5px;
            }

            a {
                text-decoration: none;
                color: #FFFF;
            }

            button:hover {
                background: #FF4900;
            }
        }

        .resume {
            margin-top: 10px;
        }

        button {
            padding: 20px 86px;
            background: none;
            color: #FFFF;
            border-radius: 2px;
            border-color: #FF4900;
            border-width: 3px;
            font-size: 26px;
            font-weight: 500;
        }

        a {
            text-decoration: none;
            color: #FFFF;
        }

        button:hover {
            background: #FF4900;
        }
    }

    .footer {
        background: #3C3C3C;
        height: 12vh;
        display: none;
    }

    .picture {
        width: 70%;
        position: relative;
        top: 3px;

        img {
            width: 8%;
        }
    }

    .foot {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        h3 {
            position: absolute;
            color: #FFFF;
            right: 200px;
            font-size: 20px;
            font-weight: 500;
        }
    }
}