* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 1s ease-in-out;
    font-family: Jost;
}

html {
    scroll-behavior: smooth;
}

.projectPage {
    background: #242424;
    height: 220vh;

    h2 {
        color: #FFFF;
        font-size: 50px;
        margin-left: 68px;
        padding-top: 60px;
        text-shadow: 2px 2px black;
    }
}

.wrapper {
    padding-top: 20px;
}

.first {
    display: flex;
    gap: 30px;
    padding: 50px 50px;
}

.first1,
.first2,
.first3 {
    width: 100%;
    position: relative;

    img {
        width: 100%;
        height: 120%;
        border-radius: 3px;
    }

    .overlay1,
    .overlay2,
    .overlay3 {
        bottom: -72px;
        width: 100%;
        height: 0%;
        left: 0;
        right: 0;
        position: absolute;
        background: linear-gradient(rgba(0, 0, 0, 0.1), #FF4900);
        overflow: hidden;
        color: #FFFF;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding: 0 40px;
        transition: height 0.8s;
    }

    .overlay1,
    .overlay2,
    .overlay3,
    h3 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    .overlay1,
    .overlay2,
    .overlay3,
    p {
        font-size: 15px;
        font-weight: 400;
    }
}

.first1:hover .overlay1 {
    height: 120%;
}

.first2:hover .overlay2 {
    height: 120%;
}

.first3:hover .overlay3 {
    height: 120%;
}

.second {
    display: flex;
    gap: 30px;
    padding: 50px 50px;
}

    .second1,
    .second2,
    .second3 {
        width: 100%;
        position: relative;

        img {
            width: 100%;
            height: 120%;
            border-radius: 3px;
        }

        .overlay4,
        .overlay5,
        .overlay6 {
            bottom: -72px;
            width: 100%;
            height: 0%;
            left: 0;
            right: 0;
            position: absolute;
            background: linear-gradient(rgba(0, 0, 0, 0.1), #FF4900);
            overflow: hidden;
            color: #FFFF;
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            padding: 0 40px;
            transition: height 0.8s;
        }

        .overlay5,
        .overlay6,
        .overlay7,
        h3 {
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 10px;
        }

        .overlay5,
        .overlay6,
        .overlay7,
        p {
            font-size: 15px;
            font-weight: 400;
        }
    }
.second1:hover .overlay4 {
    height: 120%;
}

.second2:hover .overlay5 {
    height: 120%;
}

.second3:hover .overlay6 {
    height: 120%;
}

.third {
    display: flex;
    gap: 30px;
    padding: 50px 50px;
}

.third1,
.third2,
.third3 {
    width: 100%;
    position: relative;

    img {
        width: 100%;
        height: 160%;
        border-radius: 3px;
    }
}

.overlay7,
.overlay8,
.overlay9 {
    bottom: -144px;
    width: 100%;
    height: 0%;
    left: 0;
    right: 0;
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0.1), #FF4900);
    overflow: hidden;
    color: #FFFF;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 0 40px;
    transition: height 0.8s;
}

.overlay7,
.overlay8,
.overlay9,
h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.overlay7,
.overlay8,
.overlay9,
p {
    font-size: 15px;
    font-weight: 400;
}

.third1:hover .overlay7 {
    height: 162%;
}

.third2:hover .overlay8 {
    height: 162%;
}

.third3:hover .overlay9 {
    height: 162%;
}

@media(max-width:991px){
    .projectPage {
        background: #242424;
        height: 100vh;
    
        h2 {
            color: #FFFF;
            font-size: 50px;
            margin-left: 68px;
            padding-top: 60px;
            text-shadow: 2px 2px black;
        }
    }
    
    .wrapper {
        padding-top: 20px;
    }
    
    .first {
        display: flex;
        gap: 30px;
        padding: 50px 50px;
    }
    
    .first1,
    .first2,
    .first3 {
        width: 100%;
        position: relative;
    
        img {
            width: 100%;
            height: 120%;
            border-radius: 3px;
        }
    
        .overlay1,
        .overlay2,
        .overlay3 {
            bottom: -72px;
            width: 100%;
            height: 0%;
            left: 0;
            right: 0;
            position: absolute;
            background: linear-gradient(rgba(0, 0, 0, 0.1), #FF4900);
            overflow: hidden;
            color: #FFFF;
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            padding: 0 40px;
            transition: height 0.8s;
        }
    
        .overlay1,
        .overlay2,
        .overlay3,
        h3 {
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 10px;
        }
    
        .overlay1,
        .overlay2,
        .overlay3,
        p {
            font-size: 15px;
            font-weight: 400;
        }
    }
    
    .first1:hover .overlay1 {
        height: 120%;
    }
    
    .first2:hover .overlay2 {
        height: 120%;
    }
    
    .first3:hover .overlay3 {
        height: 120%;
    }
    
    .second {
        display: flex;
        gap: 30px;
        padding: 50px 50px;
    }
    
        .second1,
        .second2,
        .second3 {
            width: 100%;
            position: relative;
    
            img {
                width: 100%;
                height: 120%;
                border-radius: 3px;
            }
    
            .overlay4,
            .overlay5,
            .overlay6 {
                bottom: -72px;
                width: 100%;
                height: 0%;
                left: 0;
                right: 0;
                position: absolute;
                background: linear-gradient(rgba(0, 0, 0, 0.1), #FF4900);
                overflow: hidden;
                color: #FFFF;
                display: flex;
                align-items: center;
                flex-direction: column;
                text-align: center;
                justify-content: center;
                padding: 0 40px;
                transition: height 0.8s;
            }
    
            .overlay5,
            .overlay6,
            .overlay7,
            h3 {
                font-size: 24px;
                font-weight: 700;
                margin-bottom: 10px;
            }
    
            .overlay5,
            .overlay6,
            .overlay7,
            p {
                font-size: 15px;
                font-weight: 400;
            }
        }
    .second1:hover .overlay4 {
        height: 120%;
    }
    
    .second2:hover .overlay5 {
        height: 120%;
    }
    
    .second3:hover .overlay6 {
        height: 120%;
    }
    
    .third {
        display: flex;
        gap: 30px;
        padding: 50px 50px;
    }
    
    .third1,
    .third2,
    .third3 {
        width: 100%;
        position: relative;
    
        img {
            width: 100%;
            height: 160%;
            border-radius: 3px;
        }
    }
    
    .overlay7,
    .overlay8,
    .overlay9 {
        bottom: -144px;
        width: 100%;
        height: 0%;
        left: 0;
        right: 0;
        position: absolute;
        background: linear-gradient(rgba(0, 0, 0, 0.1), #FF4900);
        overflow: hidden;
        color: #FFFF;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding: 0 40px;
        transition: height 0.8s;
    }
    
    .overlay7,
    .overlay8,
    .overlay9,
    h3 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    
    .overlay7,
    .overlay8,
    .overlay9,
    p {
        font-size: 15px;
        font-weight: 400;
    }
    
    .third1:hover .overlay7 {
        height: 162%;
    }
    
    .third2:hover .overlay8 {
        height: 162%;
    }
    
    .third3:hover .overlay9 {
        height: 162%;
    }
}

@media(max-width:768px){
    .projectPage {
        background: #242424;
        height: 480vh;
    
        h2 {
            color: #FFFF;
            font-size: 50px;
            margin-left: 68px;
            padding-top: 60px;
            text-shadow: 2px 2px black;
        }
    }
    
    .wrapper {
        padding-top: 20px;
    }
    
    .first {
        display: flex;
        gap: 30px;
        padding: 50px 50px;
        flex-direction: column;
    }
    
    .first1,
    .first2,
    .first3 {
        width: 100%;
        position: relative;
    
        img {
            width: 100%;
            height: 120%;
            border-radius: 3px;
        }
    
        .overlay1,
        .overlay2,
        .overlay3 {
            bottom: -72px;
            width: 100%;
            height: 0%;
            left: 0;
            right: 0;
            position: absolute;
            background: linear-gradient(rgba(0, 0, 0, 0.1), #FF4900);
            overflow: hidden;
            color: #FFFF;
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            padding: 0 40px;
            transition: height 0.8s;
        }
    
        .overlay1,
        .overlay2,
        .overlay3,
        h3 {
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 10px;
        }
    
        .overlay1,
        .overlay2,
        .overlay3,
        p {
            font-size: 15px;
            font-weight: 400;
        }
    }
    
    .first1:hover .overlay1 {
        height: 120%;
    }
    
    .first2:hover .overlay2 {
        height: 120%;
    }
    
    .first3:hover .overlay3 {
        height: 120%;
    }
    
    .second {
        display: flex;
        gap: 30px;
        padding: 50px 50px;
        flex-direction: column;
    }
    
        .second1,
        .second2,
        .second3 {
            width: 100%;
            position: relative;
    
            img {
                width: 100%;
                height: 120%;
                border-radius: 3px;
            }
    
            .overlay4,
            .overlay5,
            .overlay6 {
                bottom: -72px;
                width: 100%;
                height: 0%;
                left: 0;
                right: 0;
                position: absolute;
                background: linear-gradient(rgba(0, 0, 0, 0.1), #FF4900);
                overflow: hidden;
                color: #FFFF;
                display: flex;
                align-items: center;
                flex-direction: column;
                text-align: center;
                justify-content: center;
                padding: 0 40px;
                transition: height 0.8s;
            }
    
            .overlay5,
            .overlay6,
            .overlay7,
            h3 {
                font-size: 24px;
                font-weight: 700;
                margin-bottom: 10px;
            }
    
            .overlay5,
            .overlay6,
            .overlay7,
            p {
                font-size: 15px;
                font-weight: 400;
            }
        }
    .second1:hover .overlay4 {
        height: 120%;
    }
    
    .second2:hover .overlay5 {
        height: 120%;
    }
    
    .second3:hover .overlay6 {
        height: 120%;
    }
    
    .third {
        display: flex;
        gap: 30px;
        padding: 50px 50px;
        flex-direction: column;
    }
    
    .third1,
    .third2,
    .third3 {
        width: 100%;
        position: relative;
    
        img {
            width: 100%;
            height: 250%;
            border-radius: 3px;
        }
    }
    
    .overlay7,
    .overlay8,
    .overlay9 {
        bottom: -144px;
        width: 100%;
        height: 0%;
        left: 0;
        right: 0;
        position: absolute;
        background: linear-gradient(rgba(0, 0, 0, 0.1), #FF4900);
        overflow: hidden;
        color: #FFFF;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding: 0 40px;
        transition: height 0.8s;
    }
    
    .overlay7,
    .overlay8,
    .overlay9,
    h3 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    
    .overlay7,
    .overlay8,
    .overlay9,
    p {
        font-size: 15px;
        font-weight: 400;
    }
    
    .third1:hover .overlay7 {
        height: 162%;
    }
    
    .third2:hover .overlay8 {
        height: 162%;
    }
    
    .third3:hover .overlay9 {
        height: 162%;
    }
}

@media(max-width:600px){
    .projectPage {
        background: #242424;
        height: 280vh;
    
        h2 {
            color: #FFFF;
            font-size: 50px;
            margin-left: 68px;
            padding-top: 60px;
            text-shadow: 2px 2px black;
        }
    }
    
    .wrapper {
        padding-top: 20px;
    }
    
    .first {
        display: flex;
        gap: 30px;
        padding: 50px 50px;
    }
    
    .first1,
    .first2,
    .first3 {
        width: 100%;
        position: relative;
    
        img {
            width: 100%;
            height: 120%;
            border-radius: 3px;
        }
    
        .overlay1,
        .overlay2,
        .overlay3 {
            bottom: -72px;
            width: 100%;
            height: 0%;
            left: 0;
            right: 0;
            position: absolute;
            background: linear-gradient(rgba(0, 0, 0, 0.1), #FF4900);
            overflow: hidden;
            color: #FFFF;
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            padding: 0 40px;
            transition: height 0.8s;
        }
    
        .overlay1,
        .overlay2,
        .overlay3,
        h3 {
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 10px;
        }
    
        .overlay1,
        .overlay2,
        .overlay3,
        p {
            font-size: 15px;
            font-weight: 400;
        }
    }
    
    .first1:hover .overlay1 {
        height: 120%;
    }
    
    .first2:hover .overlay2 {
        height: 120%;
    }
    
    .first3:hover .overlay3 {
        height: 120%;
    }
    
    .second {
        display: flex;
        gap: 30px;
        padding: 50px 50px;
    }
    
        .second1,
        .second2,
        .second3 {
            width: 100%;
            position: relative;
    
            img {
                width: 100%;
                height: 120%;
                border-radius: 3px;
            }
    
            .overlay4,
            .overlay5,
            .overlay6 {
                bottom: -72px;
                width: 100%;
                height: 0%;
                left: 0;
                right: 0;
                position: absolute;
                background: linear-gradient(rgba(0, 0, 0, 0.1), #FF4900);
                overflow: hidden;
                color: #FFFF;
                display: flex;
                align-items: center;
                flex-direction: column;
                text-align: center;
                justify-content: center;
                padding: 0 40px;
                transition: height 0.8s;
            }
    
            .overlay5,
            .overlay6,
            .overlay7,
            h3 {
                font-size: 24px;
                font-weight: 700;
                margin-bottom: 10px;
            }
    
            .overlay5,
            .overlay6,
            .overlay7,
            p {
                font-size: 15px;
                font-weight: 400;
            }
        }
    .second1:hover .overlay4 {
        height: 120%;
    }
    
    .second2:hover .overlay5 {
        height: 120%;
    }
    
    .second3:hover .overlay6 {
        height: 120%;
    }
    
    .third {
        display: flex;
        gap: 30px;
        padding: 50px 50px;
    }
    
    .third1,
    .third2,
    .third3 {
        width: 100%;
        position: relative;
    
        img {
            width: 100%;
            height: 160%;
            border-radius: 3px;
        }
    }
    
    .overlay7,
    .overlay8,
    .overlay9 {
        bottom: -144px;
        width: 100%;
        height: 0%;
        left: 0;
        right: 0;
        position: absolute;
        background: linear-gradient(rgba(0, 0, 0, 0.1), #FF4900);
        overflow: hidden;
        color: #FFFF;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding: 0 40px;
        transition: height 0.8s;
    }
    
    .overlay7,
    .overlay8,
    .overlay9,
    h3 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    
    .overlay7,
    .overlay8,
    .overlay9,
    p {
        font-size: 15px;
        font-weight: 400;
    }
    
    .third1:hover .overlay7 {
        height: 162%;
    }
    
    .third2:hover .overlay8 {
        height: 162%;
    }
    
    .third3:hover .overlay9 {
        height: 162%;
    }
}