* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 1s ease-in-out;
  font-family: Jost;
}

html {
  scroll-behavior: smooth;
}

.projectPage {
  background: #242424;
  height: 220vh;
}
.projectPage h2 {
  color: white;
  font-size: 50px;
  margin-left: 68px;
  padding-top: 60px;
  text-shadow: 2px 2px black;
}

.wrapper {
  padding-top: 20px;
}

.first {
  display: flex;
  gap: 30px;
  padding: 50px 50px;
}

.first1,
.first2,
.first3 {
  width: 100%;
  position: relative;
}
.first1 img,
.first2 img,
.first3 img {
  width: 100%;
  height: 120%;
  border-radius: 3px;
}
.first1 .overlay1,
.first1 .overlay2,
.first1 .overlay3,
.first2 .overlay1,
.first2 .overlay2,
.first2 .overlay3,
.first3 .overlay1,
.first3 .overlay2,
.first3 .overlay3 {
  bottom: -72px;
  width: 100%;
  height: 0%;
  left: 0;
  right: 0;
  position: absolute;
  background: linear-gradient(rgba(0, 0, 0, 0.1), #FF4900);
  overflow: hidden;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 0 40px;
  transition: height 0.8s;
}
.first1 .overlay1,
.first1 .overlay2,
.first1 .overlay3,
.first1 h3,
.first2 .overlay1,
.first2 .overlay2,
.first2 .overlay3,
.first2 h3,
.first3 .overlay1,
.first3 .overlay2,
.first3 .overlay3,
.first3 h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}
.first1 .overlay1,
.first1 .overlay2,
.first1 .overlay3,
.first1 p,
.first2 .overlay1,
.first2 .overlay2,
.first2 .overlay3,
.first2 p,
.first3 .overlay1,
.first3 .overlay2,
.first3 .overlay3,
.first3 p {
  font-size: 15px;
  font-weight: 400;
}

.first1:hover .overlay1 {
  height: 120%;
}

.first2:hover .overlay2 {
  height: 120%;
}

.first3:hover .overlay3 {
  height: 120%;
}

.second {
  display: flex;
  gap: 30px;
  padding: 50px 50px;
}

.second1,
.second2,
.second3 {
  width: 100%;
  position: relative;
}
.second1 img,
.second2 img,
.second3 img {
  width: 100%;
  height: 120%;
  border-radius: 3px;
}
.second1 .overlay4,
.second1 .overlay5,
.second1 .overlay6,
.second2 .overlay4,
.second2 .overlay5,
.second2 .overlay6,
.second3 .overlay4,
.second3 .overlay5,
.second3 .overlay6 {
  bottom: -72px;
  width: 100%;
  height: 0%;
  left: 0;
  right: 0;
  position: absolute;
  background: linear-gradient(rgba(0, 0, 0, 0.1), #FF4900);
  overflow: hidden;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 0 40px;
  transition: height 0.8s;
}
.second1 .overlay5,
.second1 .overlay6,
.second1 .overlay7,
.second1 h3,
.second2 .overlay5,
.second2 .overlay6,
.second2 .overlay7,
.second2 h3,
.second3 .overlay5,
.second3 .overlay6,
.second3 .overlay7,
.second3 h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}
.second1 .overlay5,
.second1 .overlay6,
.second1 .overlay7,
.second1 p,
.second2 .overlay5,
.second2 .overlay6,
.second2 .overlay7,
.second2 p,
.second3 .overlay5,
.second3 .overlay6,
.second3 .overlay7,
.second3 p {
  font-size: 15px;
  font-weight: 400;
}

.second1:hover .overlay4 {
  height: 120%;
}

.second2:hover .overlay5 {
  height: 120%;
}

.second3:hover .overlay6 {
  height: 120%;
}

.third {
  display: flex;
  gap: 30px;
  padding: 50px 50px;
}

.third1,
.third2,
.third3 {
  width: 100%;
  position: relative;
}
.third1 img,
.third2 img,
.third3 img {
  width: 100%;
  height: 160%;
  border-radius: 3px;
}

.overlay7,
.overlay8,
.overlay9 {
  bottom: -144px;
  width: 100%;
  height: 0%;
  left: 0;
  right: 0;
  position: absolute;
  background: linear-gradient(rgba(0, 0, 0, 0.1), #FF4900);
  overflow: hidden;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 0 40px;
  transition: height 0.8s;
}

.overlay7,
.overlay8,
.overlay9,
h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.overlay7,
.overlay8,
.overlay9,
p {
  font-size: 15px;
  font-weight: 400;
}

.third1:hover .overlay7 {
  height: 162%;
}

.third2:hover .overlay8 {
  height: 162%;
}

.third3:hover .overlay9 {
  height: 162%;
}

@media (max-width: 991px) {
  .projectPage {
    background: #242424;
    height: 100vh;
  }
  .projectPage h2 {
    color: white;
    font-size: 50px;
    margin-left: 68px;
    padding-top: 60px;
    text-shadow: 2px 2px black;
  }
  .wrapper {
    padding-top: 20px;
  }
  .first {
    display: flex;
    gap: 30px;
    padding: 50px 50px;
  }
  .first1,
  .first2,
  .first3 {
    width: 100%;
    position: relative;
  }
  .first1 img,
  .first2 img,
  .first3 img {
    width: 100%;
    height: 120%;
    border-radius: 3px;
  }
  .first1 .overlay1,
  .first1 .overlay2,
  .first1 .overlay3,
  .first2 .overlay1,
  .first2 .overlay2,
  .first2 .overlay3,
  .first3 .overlay1,
  .first3 .overlay2,
  .first3 .overlay3 {
    bottom: -72px;
    width: 100%;
    height: 0%;
    left: 0;
    right: 0;
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0.1), #FF4900);
    overflow: hidden;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 0 40px;
    transition: height 0.8s;
  }
  .first1 .overlay1,
  .first1 .overlay2,
  .first1 .overlay3,
  .first1 h3,
  .first2 .overlay1,
  .first2 .overlay2,
  .first2 .overlay3,
  .first2 h3,
  .first3 .overlay1,
  .first3 .overlay2,
  .first3 .overlay3,
  .first3 h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .first1 .overlay1,
  .first1 .overlay2,
  .first1 .overlay3,
  .first1 p,
  .first2 .overlay1,
  .first2 .overlay2,
  .first2 .overlay3,
  .first2 p,
  .first3 .overlay1,
  .first3 .overlay2,
  .first3 .overlay3,
  .first3 p {
    font-size: 15px;
    font-weight: 400;
  }
  .first1:hover .overlay1 {
    height: 120%;
  }
  .first2:hover .overlay2 {
    height: 120%;
  }
  .first3:hover .overlay3 {
    height: 120%;
  }
  .second {
    display: flex;
    gap: 30px;
    padding: 50px 50px;
  }
  .second1,
  .second2,
  .second3 {
    width: 100%;
    position: relative;
  }
  .second1 img,
  .second2 img,
  .second3 img {
    width: 100%;
    height: 120%;
    border-radius: 3px;
  }
  .second1 .overlay4,
  .second1 .overlay5,
  .second1 .overlay6,
  .second2 .overlay4,
  .second2 .overlay5,
  .second2 .overlay6,
  .second3 .overlay4,
  .second3 .overlay5,
  .second3 .overlay6 {
    bottom: -72px;
    width: 100%;
    height: 0%;
    left: 0;
    right: 0;
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0.1), #FF4900);
    overflow: hidden;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 0 40px;
    transition: height 0.8s;
  }
  .second1 .overlay5,
  .second1 .overlay6,
  .second1 .overlay7,
  .second1 h3,
  .second2 .overlay5,
  .second2 .overlay6,
  .second2 .overlay7,
  .second2 h3,
  .second3 .overlay5,
  .second3 .overlay6,
  .second3 .overlay7,
  .second3 h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .second1 .overlay5,
  .second1 .overlay6,
  .second1 .overlay7,
  .second1 p,
  .second2 .overlay5,
  .second2 .overlay6,
  .second2 .overlay7,
  .second2 p,
  .second3 .overlay5,
  .second3 .overlay6,
  .second3 .overlay7,
  .second3 p {
    font-size: 15px;
    font-weight: 400;
  }
  .second1:hover .overlay4 {
    height: 120%;
  }
  .second2:hover .overlay5 {
    height: 120%;
  }
  .second3:hover .overlay6 {
    height: 120%;
  }
  .third {
    display: flex;
    gap: 30px;
    padding: 50px 50px;
  }
  .third1,
  .third2,
  .third3 {
    width: 100%;
    position: relative;
  }
  .third1 img,
  .third2 img,
  .third3 img {
    width: 100%;
    height: 160%;
    border-radius: 3px;
  }
  .overlay7,
  .overlay8,
  .overlay9 {
    bottom: -144px;
    width: 100%;
    height: 0%;
    left: 0;
    right: 0;
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0.1), #FF4900);
    overflow: hidden;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 0 40px;
    transition: height 0.8s;
  }
  .overlay7,
  .overlay8,
  .overlay9,
  h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .overlay7,
  .overlay8,
  .overlay9,
  p {
    font-size: 15px;
    font-weight: 400;
  }
  .third1:hover .overlay7 {
    height: 162%;
  }
  .third2:hover .overlay8 {
    height: 162%;
  }
  .third3:hover .overlay9 {
    height: 162%;
  }
}
@media (max-width: 768px) {
  .projectPage {
    background: #242424;
    height: 480vh;
  }
  .projectPage h2 {
    color: white;
    font-size: 50px;
    margin-left: 68px;
    padding-top: 60px;
    text-shadow: 2px 2px black;
  }
  .wrapper {
    padding-top: 20px;
  }
  .first {
    display: flex;
    gap: 30px;
    padding: 50px 50px;
    flex-direction: column;
  }
  .first1,
  .first2,
  .first3 {
    width: 100%;
    position: relative;
  }
  .first1 img,
  .first2 img,
  .first3 img {
    width: 100%;
    height: 120%;
    border-radius: 3px;
  }
  .first1 .overlay1,
  .first1 .overlay2,
  .first1 .overlay3,
  .first2 .overlay1,
  .first2 .overlay2,
  .first2 .overlay3,
  .first3 .overlay1,
  .first3 .overlay2,
  .first3 .overlay3 {
    bottom: -72px;
    width: 100%;
    height: 0%;
    left: 0;
    right: 0;
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0.1), #FF4900);
    overflow: hidden;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 0 40px;
    transition: height 0.8s;
  }
  .first1 .overlay1,
  .first1 .overlay2,
  .first1 .overlay3,
  .first1 h3,
  .first2 .overlay1,
  .first2 .overlay2,
  .first2 .overlay3,
  .first2 h3,
  .first3 .overlay1,
  .first3 .overlay2,
  .first3 .overlay3,
  .first3 h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .first1 .overlay1,
  .first1 .overlay2,
  .first1 .overlay3,
  .first1 p,
  .first2 .overlay1,
  .first2 .overlay2,
  .first2 .overlay3,
  .first2 p,
  .first3 .overlay1,
  .first3 .overlay2,
  .first3 .overlay3,
  .first3 p {
    font-size: 15px;
    font-weight: 400;
  }
  .first1:hover .overlay1 {
    height: 120%;
  }
  .first2:hover .overlay2 {
    height: 120%;
  }
  .first3:hover .overlay3 {
    height: 120%;
  }
  .second {
    display: flex;
    gap: 30px;
    padding: 50px 50px;
    flex-direction: column;
  }
  .second1,
  .second2,
  .second3 {
    width: 100%;
    position: relative;
  }
  .second1 img,
  .second2 img,
  .second3 img {
    width: 100%;
    height: 120%;
    border-radius: 3px;
  }
  .second1 .overlay4,
  .second1 .overlay5,
  .second1 .overlay6,
  .second2 .overlay4,
  .second2 .overlay5,
  .second2 .overlay6,
  .second3 .overlay4,
  .second3 .overlay5,
  .second3 .overlay6 {
    bottom: -72px;
    width: 100%;
    height: 0%;
    left: 0;
    right: 0;
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0.1), #FF4900);
    overflow: hidden;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 0 40px;
    transition: height 0.8s;
  }
  .second1 .overlay5,
  .second1 .overlay6,
  .second1 .overlay7,
  .second1 h3,
  .second2 .overlay5,
  .second2 .overlay6,
  .second2 .overlay7,
  .second2 h3,
  .second3 .overlay5,
  .second3 .overlay6,
  .second3 .overlay7,
  .second3 h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .second1 .overlay5,
  .second1 .overlay6,
  .second1 .overlay7,
  .second1 p,
  .second2 .overlay5,
  .second2 .overlay6,
  .second2 .overlay7,
  .second2 p,
  .second3 .overlay5,
  .second3 .overlay6,
  .second3 .overlay7,
  .second3 p {
    font-size: 15px;
    font-weight: 400;
  }
  .second1:hover .overlay4 {
    height: 120%;
  }
  .second2:hover .overlay5 {
    height: 120%;
  }
  .second3:hover .overlay6 {
    height: 120%;
  }
  .third {
    display: flex;
    gap: 30px;
    padding: 50px 50px;
    flex-direction: column;
  }
  .third1,
  .third2,
  .third3 {
    width: 100%;
    position: relative;
  }
  .third1 img,
  .third2 img,
  .third3 img {
    width: 100%;
    height: 250%;
    border-radius: 3px;
  }
  .overlay7,
  .overlay8,
  .overlay9 {
    bottom: -144px;
    width: 100%;
    height: 0%;
    left: 0;
    right: 0;
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0.1), #FF4900);
    overflow: hidden;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 0 40px;
    transition: height 0.8s;
  }
  .overlay7,
  .overlay8,
  .overlay9,
  h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .overlay7,
  .overlay8,
  .overlay9,
  p {
    font-size: 15px;
    font-weight: 400;
  }
  .third1:hover .overlay7 {
    height: 162%;
  }
  .third2:hover .overlay8 {
    height: 162%;
  }
  .third3:hover .overlay9 {
    height: 162%;
  }
}
@media (max-width: 600px) {
  .projectPage {
    background: #242424;
    height: 280vh;
  }
  .projectPage h2 {
    color: white;
    font-size: 50px;
    margin-left: 68px;
    padding-top: 60px;
    text-shadow: 2px 2px black;
  }
  .wrapper {
    padding-top: 20px;
  }
  .first {
    display: flex;
    gap: 30px;
    padding: 50px 50px;
  }
  .first1,
  .first2,
  .first3 {
    width: 100%;
    position: relative;
  }
  .first1 img,
  .first2 img,
  .first3 img {
    width: 100%;
    height: 120%;
    border-radius: 3px;
  }
  .first1 .overlay1,
  .first1 .overlay2,
  .first1 .overlay3,
  .first2 .overlay1,
  .first2 .overlay2,
  .first2 .overlay3,
  .first3 .overlay1,
  .first3 .overlay2,
  .first3 .overlay3 {
    bottom: -72px;
    width: 100%;
    height: 0%;
    left: 0;
    right: 0;
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0.1), #FF4900);
    overflow: hidden;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 0 40px;
    transition: height 0.8s;
  }
  .first1 .overlay1,
  .first1 .overlay2,
  .first1 .overlay3,
  .first1 h3,
  .first2 .overlay1,
  .first2 .overlay2,
  .first2 .overlay3,
  .first2 h3,
  .first3 .overlay1,
  .first3 .overlay2,
  .first3 .overlay3,
  .first3 h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .first1 .overlay1,
  .first1 .overlay2,
  .first1 .overlay3,
  .first1 p,
  .first2 .overlay1,
  .first2 .overlay2,
  .first2 .overlay3,
  .first2 p,
  .first3 .overlay1,
  .first3 .overlay2,
  .first3 .overlay3,
  .first3 p {
    font-size: 15px;
    font-weight: 400;
  }
  .first1:hover .overlay1 {
    height: 120%;
  }
  .first2:hover .overlay2 {
    height: 120%;
  }
  .first3:hover .overlay3 {
    height: 120%;
  }
  .second {
    display: flex;
    gap: 30px;
    padding: 50px 50px;
  }
  .second1,
  .second2,
  .second3 {
    width: 100%;
    position: relative;
  }
  .second1 img,
  .second2 img,
  .second3 img {
    width: 100%;
    height: 120%;
    border-radius: 3px;
  }
  .second1 .overlay4,
  .second1 .overlay5,
  .second1 .overlay6,
  .second2 .overlay4,
  .second2 .overlay5,
  .second2 .overlay6,
  .second3 .overlay4,
  .second3 .overlay5,
  .second3 .overlay6 {
    bottom: -72px;
    width: 100%;
    height: 0%;
    left: 0;
    right: 0;
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0.1), #FF4900);
    overflow: hidden;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 0 40px;
    transition: height 0.8s;
  }
  .second1 .overlay5,
  .second1 .overlay6,
  .second1 .overlay7,
  .second1 h3,
  .second2 .overlay5,
  .second2 .overlay6,
  .second2 .overlay7,
  .second2 h3,
  .second3 .overlay5,
  .second3 .overlay6,
  .second3 .overlay7,
  .second3 h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .second1 .overlay5,
  .second1 .overlay6,
  .second1 .overlay7,
  .second1 p,
  .second2 .overlay5,
  .second2 .overlay6,
  .second2 .overlay7,
  .second2 p,
  .second3 .overlay5,
  .second3 .overlay6,
  .second3 .overlay7,
  .second3 p {
    font-size: 15px;
    font-weight: 400;
  }
  .second1:hover .overlay4 {
    height: 120%;
  }
  .second2:hover .overlay5 {
    height: 120%;
  }
  .second3:hover .overlay6 {
    height: 120%;
  }
  .third {
    display: flex;
    gap: 30px;
    padding: 50px 50px;
  }
  .third1,
  .third2,
  .third3 {
    width: 100%;
    position: relative;
  }
  .third1 img,
  .third2 img,
  .third3 img {
    width: 100%;
    height: 160%;
    border-radius: 3px;
  }
  .overlay7,
  .overlay8,
  .overlay9 {
    bottom: -144px;
    width: 100%;
    height: 0%;
    left: 0;
    right: 0;
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0.1), #FF4900);
    overflow: hidden;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 0 40px;
    transition: height 0.8s;
  }
  .overlay7,
  .overlay8,
  .overlay9,
  h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .overlay7,
  .overlay8,
  .overlay9,
  p {
    font-size: 15px;
    font-weight: 400;
  }
  .third1:hover .overlay7 {
    height: 162%;
  }
  .third2:hover .overlay8 {
    height: 162%;
  }
  .third3:hover .overlay9 {
    height: 162%;
  }
}/*# sourceMappingURL=view.css.map */